*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(../images/18710596_rm251-mind-11-g.jpg);
}

.sombra{
    text-shadow: -3px -3px 4px rgba(255,255,255,0.6);
}

.fix{
    margin-left: 42px;
}

.categoria{
    font-family: 'Montserrat', sans-serif;
}

