*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-image: linear-gradient(to right bottom, #f3d1e4, #eccce7, #e1c9ec, #d3c6f0, #c2c4f3, #b1c4f2, #a1c4ef, #91c3ea, #87c3df, #84c1d2, #86bfc5, #8bbcb9); */
    background-image: url(../images/18710596_rm251-mind-11-g.jpg);
}

.sombra{
    text-shadow: -3px -3px 4px rgba(255,255,255,0.6);
}

.fix{
    margin-left: 42px;
}

.custom-shape-divider-bottom-1672456714 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1672456714 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 61px;
}

.custom-shape-divider-bottom-1672456714 .shape-fill {
    fill: #7280f8a6;
}

.categoria{
    font-family: 'Montserrat', sans-serif;
}

